{
  "openapi": "3.0.1",
  "info": {
    "title": "API de EncuestasMS",
    "description": "Documentación de la API de EncuestasMS",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://caracterizacion-api.matroide.com/surveyms",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/survey/{id}": {
      "get": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "obtenerEncuestaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "actualizarEncuesta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "inactivarEncuesta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/section/{id}": {
      "get": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "obtenerSeccionPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "actualizarSeccion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "inactivarSeccion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/survey": {
      "post": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "crearEncuesta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/survey/clone/{id}": {
      "post": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "clonarEncuesta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/section": {
      "post": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "crearSeccion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      }
    },
    "/section/clone/{id}": {
      "post": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "clonarSeccion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      }
    },
    "/survey/surveyList": {
      "get": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "listarEncuestas",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePageEncuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/section/survey/{surveyId}": {
      "get": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "listarSeccionesPorEncuestaId",
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListSeccionDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EncuestaDTO": {
        "type": "object",
        "properties": {
          "surveyId": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdByUser": {
            "type": "string",
            "format": "uuid"
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedByUser": {
            "type": "string",
            "format": "uuid"
          },
          "responseCount": {
            "type": "integer",
            "format": "int32"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "shareUrl": {
            "type": "string"
          }
        }
      },
      "GeneralResponseEncuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/EncuestaDTO"
          }
        }
      },
      "SeccionDTO": {
        "type": "object",
        "properties": {
          "sectionId": {
            "type": "string",
            "format": "uuid"
          },
          "surveyId": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "video": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "mainSection": {
            "type": "boolean"
          },
          "order": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GeneralResponseSeccionDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/SeccionDTO"
          }
        }
      },
      "EncuestaResponse": {
        "type": "object",
        "properties": {
          "survey": {
            "$ref": "#/components/schemas/EncuestaDTO"
          },
          "sections": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeccionDTO"
            }
          }
        }
      },
      "GeneralResponseEncuestaResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/EncuestaResponse"
          }
        }
      },
      "GeneralResponsePageEncuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/PageEncuestaDTO"
          }
        }
      },
      "PageEncuestaDTO": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EncuestaDTO"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "paged": {
            "type": "boolean"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "empty": {
            "type": "boolean"
          },
          "sorted": {
            "type": "boolean"
          },
          "unsorted": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponseListSeccionDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeccionDTO"
            }
          }
        }
      },
      "GeneralResponseVoid": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "object"
          }
        }
      }
    }
  }
}
