{
  "openapi": "3.0.1",
  "info": {
    "title": "API de EncuestaMS",
    "description": "Documentación de la API de EncuestaMS",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://caracterizacion-api.matroide.com/surveyms",
      "description": "Server encuestas"
    }
  ],
  "paths": {
    "/survey/{id}": {
      "get": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "obtenerEncuestaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "actualizarEncuesta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "inactivarEncuesta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/section/{id}": {
      "get": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "obtenerSeccionPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "actualizarSeccion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "inactivarSeccion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/survey": {
      "post": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "crearEncuesta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/survey/clone/{id}": {
      "post": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "clonarEncuesta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEncuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/section": {
      "post": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "crearSeccion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      }
    },
    "/section/clone/{id}": {
      "post": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "clonarSeccion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSeccionDTO"
                }
              }
            }
          }
        }
      }
    },
    "/survey/surveyList": {
      "get": {
        "tags": [
          "encuesta-controller"
        ],
        "operationId": "listarEncuestas",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListEncuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/section/survey/{surveyId}": {
      "get": {
        "tags": [
          "seccion-controller"
        ],
        "operationId": "listarSeccionesPorEncuestaId",
        "parameters": [
          {
            "name": "surveyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListSeccionDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "EncuestaDTO": {
        "type": "object",
        "properties": {
          "surveyId": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdByUser": {
            "type": "string",
            "format": "uuid"
          },
          "modificationDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedByUser": {
            "type": "string",
            "format": "uuid"
          },
          "responseCount": {
            "type": "integer",
            "format": "int32"
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time"
          },
          "shareUrl": {
            "type": "string"
          }
        }
      },
      "GeneralResponseEncuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/EncuestaDTO"
          }
        }
      },
      "SeccionDTO": {
        "type": "object",
        "properties": {
          "sectionId": {
            "type": "string",
            "format": "uuid"
          },
          "surveyId": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "video": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponseSeccionDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/SeccionDTO"
          }
        }
      },
      "GeneralResponseListEncuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EncuestaDTO"
            }
          }
        }
      },
      "GeneralResponseListSeccionDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeccionDTO"
            }
          }
        }
      },
      "GeneralResponseVoid": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "object"
          }
        }
      }
    }
  }
}
