{
  "openapi": "3.0.1",
  "info": {
    "title": "API de PreguntasMS",
    "description": "Documentación de la API de PreguntasMS",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://caracterizacion-api.matroide.com/surveyms",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/subcategories/{id}": {
      "get": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "obtenerSubCategoriaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSubCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "actualizarSubCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubCategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSubCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "inactivarSubCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{id}": {
      "get": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "obtenerPreguntaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePreguntaResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "actualizarPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePreguntaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "inactivarPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questionType/{id}": {
      "get": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "obtenerTipoPreguntaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseTipoPreguntaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "actualizarTipoPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TipoPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseTipoPreguntaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "inactivarTipoPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "obtenerCategoriaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "actualizarCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "inactivarCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/api/enunciados/{enunciadoId}": {
      "put": {
        "tags": [
          "enunciado-pregunta-controller"
        ],
        "operationId": "actualizar",
        "parameters": [
          {
            "name": "enunciadoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnunciadoPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEnunciadoPreguntaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "enunciado-pregunta-controller"
        ],
        "operationId": "eliminar",
        "parameters": [
          {
            "name": "enunciadoId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/answers/{respuestaId}": {
      "put": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "actualizarRespuesta",
        "parameters": [
          {
            "name": "respuestaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RespuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseRespuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories": {
      "post": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "crearSubCategoria",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubCategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSubCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questions": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "crearPregunta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questions/disassociateQuestionFromSection": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "desasociarPreguntaDeSeccion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsociarPreguntaSeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/cloneQuestions": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "clonarPregunta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClonarPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/cloneQuestionsBySectionId": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "clonarPreguntasBySectionId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClonarEncuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/associateQuestionToSection": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "asociarPreguntaASeccion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsociarPreguntaSeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questionType": {
      "post": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "crearTipoPregunta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TipoPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseTipoPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "post": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "crearCategoria",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/enunciados": {
      "post": {
        "tags": [
          "enunciado-pregunta-controller"
        ],
        "operationId": "crear",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnunciadoPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseEnunciadoPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/answers": {
      "post": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "crearRespuesta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RespuestaDTO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListRespuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories/subcategoriesList": {
      "get": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "listarSubCategorias",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListSubCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questions/section/{sectionId}": {
      "get": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "preguntasPorSeccionId",
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListPreguntaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/questions/questionsList": {
      "get": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "listarPreguntas",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePagePreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questionType/questionTypesList": {
      "get": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "listarTipoPreguntas",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListTipoPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/categories/categoriesList": {
      "get": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "listarCategorias",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/enunciados/pregunta/{preguntaId}": {
      "get": {
        "tags": [
          "enunciado-pregunta-controller"
        ],
        "operationId": "obtenerPorPreguntaId",
        "parameters": [
          {
            "name": "preguntaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListEnunciadoPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/answers/{answerId}": {
      "get": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "respuestaPorPreguntaId",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListRespuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/answers/{answerId}/{sectionId}": {
      "get": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "respuestaPorPreguntaIdSeccionId",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListRespuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/answers/section/{sectionId}": {
      "get": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "respuestasPorSeccionId",
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListRespuestaDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SubCategoriaDTO": {
        "required": [
          "name",
          "status",
          "subCategoryId"
        ],
        "type": "object",
        "properties": {
          "subCategoryId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 60,
            "minLength": 0,
            "type": "string"
          },
          "status": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponseSubCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/SubCategoriaDTO"
          }
        }
      },
      "PreguntaDTO": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "questionTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "categoryId": {
            "type": "string",
            "format": "uuid"
          },
          "text": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "format": "uuid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "videoUrl": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "order": {
            "type": "integer",
            "format": "int32"
          },
          "note": {
            "type": "string"
          },
          "isRequired": {
            "type": "boolean"
          },
          "videoAltText": {
            "type": "string"
          },
          "imageAltText": {
            "type": "string"
          },
          "isBank": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponsePreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/PreguntaDTO"
          }
        }
      },
      "TipoPreguntaDTO": {
        "required": [
          "name",
          "questionTypeId",
          "status"
        ],
        "type": "object",
        "properties": {
          "questionTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 60,
            "minLength": 0,
            "type": "string"
          },
          "status": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponseTipoPreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/TipoPreguntaDTO"
          }
        }
      },
      "CategoriaDTO": {
        "required": [
          "categoryId",
          "name",
          "status"
        ],
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 60,
            "minLength": 0,
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "subCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubCategoriaDTO"
            }
          }
        }
      },
      "GeneralResponseCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/CategoriaDTO"
          }
        }
      },
      "EnunciadoPreguntaDTO": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string"
          },
          "question_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "GeneralResponseEnunciadoPreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/EnunciadoPreguntaDTO"
          }
        }
      },
      "RespuestaDTO": {
        "type": "object",
        "properties": {
          "answerId": {
            "type": "string",
            "format": "uuid"
          },
          "text": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "questionTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "sectionId": {
            "type": "string",
            "format": "uuid"
          },
          "statementId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "GeneralResponseRespuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/RespuestaDTO"
          }
        }
      },
      "AsociarPreguntaSeccionDTO": {
        "required": [
          "questionId",
          "sectionId"
        ],
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "sectionId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "GeneralResponseVoid": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "object"
          }
        }
      },
      "ClonarPreguntaDTO": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ClonarEncuestaDTO": {
        "type": "object",
        "properties": {
          "oldSectionId": {
            "type": "string",
            "format": "uuid"
          },
          "newSectionId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "GeneralResponseListRespuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RespuestaDTO"
            }
          }
        }
      },
      "GeneralResponseListSubCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubCategoriaDTO"
            }
          }
        }
      },
      "GeneralResponsePreguntaResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/PreguntaResponse"
          }
        }
      },
      "PreguntaResponse": {
        "type": "object",
        "properties": {
          "question": {
            "$ref": "#/components/schemas/PreguntaDTO"
          },
          "statements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnunciadoPreguntaDTO"
            }
          },
          "answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RespuestaDTO"
            }
          }
        }
      },
      "GeneralResponseListPreguntaResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreguntaResponse"
            }
          }
        }
      },
      "GeneralResponsePagePreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/PagePreguntaDTO"
          }
        }
      },
      "PagePreguntaDTO": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreguntaDTO"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "paged": {
            "type": "boolean"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "empty": {
            "type": "boolean"
          },
          "sorted": {
            "type": "boolean"
          },
          "unsorted": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponseListTipoPreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TipoPreguntaDTO"
            }
          }
        }
      },
      "GeneralResponseListCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoriaDTO"
            }
          }
        }
      },
      "GeneralResponseListEnunciadoPreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EnunciadoPreguntaDTO"
            }
          }
        }
      }
    }
  }
}
