{
  "openapi": "3.0.1",
  "info": {
    "title": "API de PreguntsMS",
    "description": "Documentación de la API de PreguntasMS",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://caracterizacion-api.matroide.com/questionms",
      "description": "Server Preguntas"
    }
  ],
  "paths": {
    "/subcategories/{id}": {
      "get": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "obtenerSubCategoriaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSubCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "actualizarSubCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubCategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSubCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "inactivarSubCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/{id}": {
      "get": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "obtenerPreguntaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePreguntaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "actualizarPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePreguntaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "inactivarPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questionType/{id}": {
      "get": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "obtenerTipoPreguntaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseTipoPreguntaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "actualizarTipoPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TipoPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseTipoPreguntaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "inactivarTipoPregunta",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "obtenerCategoriaPorId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "actualizarCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseCategoriaDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "inactivarCategoria",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories": {
      "post": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "crearSubCategoria",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubCategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseSubCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questions": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "crearPregunta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponsePreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questions/disassociateQuestionFromSection": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "desasociarPreguntaDeSeccion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsociarPreguntaSeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/cloneQuestions": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "clonarPregunta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClonarPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/cloneQuestionsBySectionId": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "clonarPreguntasBySectionId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClonarEncuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questions/associateQuestionToSection": {
      "post": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "asociarPreguntaASeccion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AsociarPreguntaSeccionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseVoid"
                }
              }
            }
          }
        }
      }
    },
    "/questionType": {
      "post": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "crearTipoPregunta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TipoPreguntaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseTipoPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "post": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "crearCategoria",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoriaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/answers": {
      "post": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "crearRespuesta",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RespuestaDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseRespuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/subcategories/subcategoriesList": {
      "get": {
        "tags": [
          "sub-categoria-controller"
        ],
        "operationId": "listarSubCategorias",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListSubCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questions/section/{sectionId}": {
      "get": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "preguntasPorSeccionId",
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questions/questionsList": {
      "get": {
        "tags": [
          "pregunta-controller"
        ],
        "operationId": "listarPreguntas",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/questionType/questionTypesList": {
      "get": {
        "tags": [
          "tipo-pregunta-controller"
        ],
        "operationId": "listarTipoPreguntas",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListTipoPreguntaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/categories/categoriesList": {
      "get": {
        "tags": [
          "categoria-controller"
        ],
        "operationId": "listarCategorias",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListCategoriaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/answers/section/{sectionId}": {
      "get": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "respuestasPorSeccionId",
        "parameters": [
          {
            "name": "sectionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListRespuestaDTO"
                }
              }
            }
          }
        }
      }
    },
    "/answers/answer/{answerId}": {
      "get": {
        "tags": [
          "respuesta-controller"
        ],
        "operationId": "respuestaPorPreguntaId",
        "parameters": [
          {
            "name": "answerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralResponseListRespuestaDTO"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SubCategoriaDTO": {
        "required": [
          "name",
          "status",
          "subCategoryId"
        ],
        "type": "object",
        "properties": {
          "subCategoryId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 60,
            "minLength": 0,
            "type": "string"
          },
          "status": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponseSubCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/SubCategoriaDTO"
          }
        }
      },
      "PreguntaDTO": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "questionTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "categoryId": {
            "type": "string",
            "format": "uuid"
          },
          "text": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "format": "uuid"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string",
            "format": "uuid"
          },
          "videoUrl": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "order": {
            "type": "integer",
            "format": "int32"
          },
          "note": {
            "type": "string"
          },
          "isRequired": {
            "type": "boolean"
          },
          "videoAltText": {
            "type": "string"
          },
          "imageAltText": {
            "type": "string"
          }
        }
      },
      "GeneralResponsePreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/PreguntaDTO"
          }
        }
      },
      "TipoPreguntaDTO": {
        "required": [
          "name",
          "questionTypeId",
          "status"
        ],
        "type": "object",
        "properties": {
          "questionTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 60,
            "minLength": 0,
            "type": "string"
          },
          "status": {
            "type": "boolean"
          }
        }
      },
      "GeneralResponseTipoPreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/TipoPreguntaDTO"
          }
        }
      },
      "CategoriaDTO": {
        "required": [
          "categoryId",
          "name",
          "status"
        ],
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "maxLength": 60,
            "minLength": 0,
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "subCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubCategoriaDTO"
            }
          }
        }
      },
      "GeneralResponseCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/CategoriaDTO"
          }
        }
      },
      "AsociarPreguntaSeccionDTO": {
        "required": [
          "questionId",
          "sectionId"
        ],
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "sectionId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "GeneralResponseVoid": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "object"
          }
        }
      },
      "ClonarPreguntaDTO": {
        "type": "object",
        "properties": {
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "ClonarEncuestaDTO": {
        "type": "object",
        "properties": {
          "oldSectionId": {
            "type": "string",
            "format": "uuid"
          },
          "newSectionId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "RespuestaDTO": {
        "type": "object",
        "properties": {
          "answerId": {
            "type": "string",
            "format": "uuid"
          },
          "text": {
            "type": "string"
          },
          "creationDate": {
            "type": "string",
            "format": "date-time"
          },
          "questionTypeId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "questionId": {
            "type": "string",
            "format": "uuid"
          },
          "sectionId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "GeneralResponseRespuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "$ref": "#/components/schemas/RespuestaDTO"
          }
        }
      },
      "GeneralResponseListSubCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubCategoriaDTO"
            }
          }
        }
      },
      "GeneralResponseListPreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PreguntaDTO"
            }
          }
        }
      },
      "GeneralResponseListTipoPreguntaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TipoPreguntaDTO"
            }
          }
        }
      },
      "GeneralResponseListCategoriaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoriaDTO"
            }
          }
        }
      },
      "GeneralResponseListRespuestaDTO": {
        "type": "object",
        "properties": {
          "error": {
            "type": "boolean"
          },
          "descripcionRespuesta": {
            "type": "string"
          },
          "resultado": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RespuestaDTO"
            }
          }
        }
      }
    }
  }
}
